@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --radius: 0.75rem;
    --header-bg-light: #ffffff; /* 白色主题下 Header 背景 */
    --header-text-light: #000000; /* 白色主题下 Header 文字 */
    --content-bg-light: #ffffff; /* 白色主题下内容背景 */
    --content-text-light: #000000; /* 白色主题下内容文字 */
    --ant-collapse-header-color:var(--foreground)
  }

  .dark {
    --background: #171717;
    --foreground: #ffffff;
    --card: #171717;
    --card-foreground: #ffffff;
    --ant-collapse-header-color:var(--foreground)
  }
  .dark .ant-collapse-header {
    background-color: black !important;
    color: white !important;
  }
  .dark .ant-collapse-content-box {
    background-color: black !important;
    color: white !important;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
      --ant-collapse-header-color:var(--foreground)
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    --ant-collapse-header-color:var(--foreground)  
  }
  .ant-collapse {
    border: rgb(158, 157, 157);
  }

}
